@media (min-width: 2500px) {
  #menuButton {
    display: none;
  }

  #navLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }

  #navLinks.open {
    display: flex;
  }

  img {
    max-width: 100%;
    width: 700px;
    height: 600px;
  }

  #events-gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "card1 card1 card2 card3"
      "card4 card5 card5 card3"
      "card4 card6 card7 card7"
      "card8 card8 card7 card7";
  }

    #subs-options {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
}